* {
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

body {
  background-color: #fff6df;
  color: #005088;
}

h1 {
  font-size: 60px;
  margin: 0;
  margin-top: 60px;
}

h2 {
  font-style: italic;
  font-weight: 500s;
}

lily.jpg {
  width: 600px;
  border-radius: 20px;
}

button {
  color: #005088;
  cursor: pointer;
  outline: none;
  width: 120px;
  height: 75px;
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  text-shadow: 0 2px 5px black;
  background: linear-gradient (to bottom, #fff6df);
  border: 2px solid black;
  border-radius: 5px;
}

.button-container {
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
}
